package components

type FormProps struct {
InpuType string
Url string
}

templ PostForm(props FormProps) {
//<form action={ templ.SafeURL(props.Url) } method="post">
<article>
    <input type={ props.InpuType } 
    name="url" 
    hx-post={ props.Url } 
    hx-trigger="keyup[key=='Enter'] from:body"
    hx-target="#result"
    placeholder="Enter url" 
    required="required" />
</article>
    //<input type="submit" value="Check" />
}
