package index

import "github.com/0ussamabernou/go-checksite/view/layout"
import "github.com/0ussamabernou/go-checksite/view/components"

var props = components.FormProps{InpuType: "text", Url: "/check"}

templ Home() {
    @layout.Base("home"){
        @components.PostForm(props)
        <div id="result">
        </div>
    }
}
